body {
    font: 100%/1.5 arial, verdana, tahoma;
    background-color: rgb(200, 228, 238);
  }

h1{
    color: #337FED;
    font-weight: bolder;
    font-size: 5vh;
    max-width:max-content;
    margin:0 auto;
    font-family: 'Roboto';
    font-size: 100px;
    font-weight: 100;
    text-shadow: 4px 0px 9px #000000;
}
#container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#container>input{
    cursor: text;
    width: 40vw;
    margin: 20px 0;
}
  
#total{
    margin-top:20px;
    width:100%;
    cursor:initial;
}

.operationButtons{
    margin:20px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#equals{
    width:100%;
}

  .BUTTON_UOJ, .INPUT_UOJ {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_UOJ:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

